<span ng-if="clientslist">
	<h4><p class="text-center">Connected clients: {{clients.length}}</p></h4>
	
	<li ng-repeat="client in clients" class="client-detail">
		<div class="col-md-1 client-icon"></div>
	
		<div class="col-md-3">
			<span class="client-attr-title">Reg. ID</span> <span>{{client.registrationId}}</span>
		</div>
	
		<div class="col-md-4">
			<span class="client-attr-title">Endpoint</span> <span>{{client.endpoint}}</span>
		</div>
	
		<div class="col-md-4">
			<span class="client-attr-title">Reg. date</span> <span>{{client.registrationDate}}</span>
		</div>
	
		<a href="#/clients/{{client.endpoint}}" class="client-link"></a>
	</li>
</span>

<span ng-if="error">
	<div class="alert alert-danger">{{error}}</div>
</span>


