<li class="resource">
	<div class="row resource-{{resource.treeDepth}}">
		<div class="col-md-5 resource-title-{{resource.treeDepth}}">{{resource.name}}</div>
		<div class="col-md-1 text-muted small">{{resource.path}}</div>
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-4">
					<input type="checkbox" class="checkbox" ng-if="readable()"
						ng-click="read(true)" />
				</div>
				<div class="col-md-4">
					<button ng-if="readable()" ng-click="resource.read.status = null; read()"
							tooltip="{{resource.read.tooltip}}" tooltip-placement="right" tooltip-animation="false"
					        ng-class="{
								'btn': true,
								'btn-xs': true,
								'btn-default': resource.read.status == null,
								'btn-danger': resource.read.status != null && resource.read.status != 'CONTENT',
								'btn-success': resource.read.status == 'CONTENT' }">Read</button>
				</div>
				<div class="col-md-4">
					<button ng-if="writable()" ng-click="resource.write.status = null; write()"
							tooltip="{{resource.write.tooltip}}" tooltip-placement="right" tooltip-animation="false"
							ng-class="{
								'btn': true,
								'btn-xs': true,
								'btn-default': resource.write.status == null,
								'btn-danger': resource.write.status != null && resource.write.status != 'CHANGED',
								'btn-success': resource.write.status == 'CHANGED' }">Write</button>
								
				</div>
				<div class="col-md-4">
					<button ng-if="executable()" ng-click="resource.exec.status = null; exec();"
							tooltip="{{resource.exec.tooltip}}" tooltip-placement="right" tooltip-animation="false"
							ng-class="{
								'btn': true,
								'btn-xs': true,
								'btn-default': resource.exec.status == null,
								'btn-danger':  resource.exec.status != null && resource.exec.status != 'CHANGED',
								'btn-success': resource.exec.status == 'CHANGED' }">Exec</button>
				</div>
			</div>
		</div>
		<div ng-if="resource.read.value"  class="col-md-4 resource-value-read">{{resource.read.value}}</div>
		<div ng-if="resource.write.value" class="col-md-4 resource-value-write">{{resource.write.value}}</div>
	</div>
</li>
