<li class="resource">
	<div class="row resource-{{resource.treeDepth}}">
		<div class="col-md-5 resource-title-{{resource.treeDepth}}">
			</span>{{resource.name}}
		</div>
		<div class="col-md-1 text-muted small">{{resource.path}}</div>
		<div class="col-md-2">
			<div class="row">
				<div class="col-md-4">
					<input type="checkbox" class="checkbox" ng-if="readable()"
						ng-click="read(true)" />
				</div>
				<div class="col-md-4">
					<button ng-if="readable()" class="btn btn-default btn-xs"
						ng-click="read(false)">Read</button>
				</div>
				<div class="col-md-4">
					<button ng-if="writable()" class="btn btn-default btn-xs" ng-click="write()">Write</button>
				</div>
				<div class="col-md-4">
					<button ng-if="executable()" class="btn btn-default btn-xs" ng-click="exec()">Exec</button>
				</div>
			</div>
		</div>
		<div class="col-md-4 resource-value">{{resource.value}}</div>
	</div>
</li>
