<div>
	<button class="btn btn-default center-block" ng-click="showModal()" >Add
		new client security configuration</button>
</div>


<div class="table-responsive">
	<table class="table table-striped security-table">
	<thead>
		<tr>
			<th>Client Endpoint</th>
			<th>Security mode</th>
			<th>Identity</th>
			<th>Key</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(endpoint, security) in securityInfos">
	        <td>{{ endpoint }}</td>
	        <td>Pre-Shared Key</td>
	        <td>{{ security.psk.identity }}</td>
	        <td>{{ security.psk.key }}</td>
			<td><button type="button" class="btn btn-default btn-xs" ng-click="remove(endpoint)">
					<span class="glyphicon glyphicon-remove"></button></td>
		</tr>
	<tbody>
	</table>
</div>

<!-- New security modal -->
<div class="modal bs-example-modal-sm" id="newSecurityModal"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">New security configuration</h4>
			</div>
			<div class="modal-body">
				<form class="form form-horizontal" name="form" novalidate>
					<div class="form-group" show-errors> 
						<label for="endpointValue" class="col-sm-4 control-label">Client
							endpoint</label>
						<div class="col-sm-8">
							<input class="form-control" id="endpointValue" name="endpoint" ng-model="endpoint" required>
							<p class="help-block" ng-if="form.endpoint.$error.required">The endpoint is required</p>
						</div>
					</div>
					<div class="form-group">
						<label for="securityMode" class="col-sm-4 control-label">Security
							mode</label>
						<div class="col-sm-8">
							<select class="form-control" id="securityMode" ng-model="securityMode">
								<option value="psk">Pre-Shared Key</option>
								<option value="rpk">Raw Public Key Certificate</option>
							</select>
						</div>
					</div>

					<!-- PSK inputs -->
					<div class="form-group" ng-class="{'hidden': securityMode!='psk'}" show-errors>
						<label for="pskIdentityValue" class="col-sm-4 control-label">Identity</label>
						<div class="col-sm-8">
							<textarea class="form-control" style="resize:none" rows="3" id="pskIdentityValue" name="pskIdentity" 
							ng-model="pskIdentity" ng-required="securityMode=='psk'" ng-maxlength="128" ></textarea>
							<p class="help-block" ng-if="form.pskIdentity.$error.required">The PSK identity is required</p>
							<p class="help-block" ng-if="form.pskIdentity.$error.maxlength">The PSK identity is too long</p>
						</div>
					</div>

					<div class="form-group" ng-class="{'hidden': securityMode!='psk'}" show-errors>
						<label for="pskValue" class="col-sm-4 control-label">Key</label>
						<div class="col-sm-8">
							<textarea class="form-control" style="resize:none" rows="3" id="pskValue" name="pskValue" ng-model="pskValue"
							ng-required="securityMode=='psk'" ng-pattern="/^[0-9a-fA-F]+$/" ng-maxlength="128"></textarea>
							<p class="text-right text-muted small" style="margin:0">Hexadecimal format</p>
							<p class="help-block" ng-if="form.pskValue.$error.required">The pre-shared key is required</p>
							<p class="help-block" ng-if="form.pskValue.$error.pattern">Hexadecimal format is expected</p>
							<p class="help-block" ng-if="form.pskValue.$error.maxlength">The pre-shared key is too long</p>
						</div>
					</div>

					<!-- RPK inputs -->
					<div class="form-group" ng-class="{'hidden': securityMode!='rpk'}" show-errors>
						<label for="rpkValue" class="col-sm-4 control-label">Public
							key</label>
						<div class="col-sm-8">
							<input class="form-control" id="rpkValue" name="rpkValue" ng-model="rpkValue"
							ng-required="securityMode=='rpk'">
						</div>
					</div>

					<!-- TODO -->

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="newSecuritySubmit" ng-click="save()">Create</button>
			</div>
		</div>
	</div>
</div>


<style>
	.form-group .help-block {
		display: none;
	}
	
	.form-group.has-error .help-block {
		display: block;
	}
</style>
